<%= form_for(@note) do |f| %>
  <div class="field">
    <%= f.text_field :message, placeholder: "Write your secret here", autocomplete: "off" %>
  </div>
  <div class="actions">
    <%= f.submit "Create Secret" %>
  </div>
<% end %>

<p class="footer">Secrets created by kevlar.io are kept until they are accessed, they are then deleted permanently from the server.</p>
