<!DOCTYPE html>
<html>
<head>
  <title>Secret</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Exo:100' rel='stylesheet' type='text/css'>

</head>
<body>
  <h1>kevlar.io</h1>
<%= yield %>

</body>
</html>
